# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.egg-info/
*.eggs/
dist/
build/
eggs/
*.tgz
*.tar.gz
*.zip
.env

# Django specific
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Nginx and Gunicorn
/nginx/*
/gunicorn.log
/logs/
*.pid
*.sock
*.pid.lock

# Virtual Environment
.venv/
.env
DjangoBlogChat/.env
.env/
env/
venv/
ENV/
venv.bak/
env.bak/
DjangoBlogChat/.env

# Pipenv
Pipfile.lock
pipenv.lock

# Python dependency files
*.egg
*.whl
*.tar.gz

# IDE and editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.editorconfig

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Miscellaneous
*.bak
*.swp
*.swo
*.swn
*~.nfs*

DockerfileDemo
docker-composeDemo.yml
